.DS_Store
.idea
.vscode
.directory
.tags
/bower_components
/node_modules
/public/content
/.sass-cache
/Web.config
spec/screenshot
dist/*
!dist/guitar2audio.js
_build.json
*.css
*.map
npm-debug.log
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
